// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: Arial,Verdana,sans-serif;
  background-color: #fff;
}

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}
